* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
}
.main-app {
    max-height: 100vh;
}
.main-app__header {
    max-height: 12vh;
    border-bottom: 1px solid grey;
}
.main-app__header h2 {
    width: 20%;
    background-color: #3e313c;
    line-height: 3.5em;
    text-align: center;
    border-right: 3px solid black;
    color: rgb(184,176,183);
    font-weight: bold;
}
